#app  {
	width: 100%;
	overflow: hidden;
}
.main-container {
	position: relative;
    width: 100%;
}
.main-container .wrap {
	width: 80%;
    margin: 0 auto;
    margin-top: 8em;
}
.main-container .wrap h3 {
	font-weight: 300;
    margin-bottom: 1em;
    font-size: 1.25em;
}
.main-container .head-wrap {
	position: relative;
    width: 100%;
    margin: 0;
}
.main-container .head {
	left: 0;
	width: 100%;
    position: fixed;
    z-index: 10;
    background: #fff;
    padding: 10px;
    box-shadow: 5px 2px 2px 0px #e6e6e6;
}
.main-container .head h2 {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 1.25em;
}
.main-container .head h3 {
	text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1.5em;
    padding-top: 6px;
    font-style: italic;
}

ul {
	padding: 0;
	list-style-type: none;
}
ul li {
	text-align: left;
	padding: 10px;
	background: #f1f1f1;
	cursor: pointer;
	transition: all 500ms;
	
}
ul li:nth-child(even) {
	background: #e8e8e8;
}
ul li:hover {
	background: #fff;
}
.qa-wrap {
	margin-bottom: 30px;
}
.main-container .q-wrap h3 {
	font-size: 1.125em;
	text-align: left;
    background: #e0efe9;
    margin: 0;
    padding: 10px;
    border-bottom: 1px solid #cecece;
}
.total h3 {
	font-size: 2.25em;
	text-align: center;
}
.therapists {
	margin: 0 auto;
	float: none;
}
.therapists h2 {
	font-weight: 300;
	font-size: 1.5em;
}
.therapists ul li { text-align: center; }
.severity {  color: #a965fd;; }
.ty {     
	text-align: center;
	font-weight: 300; 
}

.appear-enter {
  transition-duration: .7s;
  transition-property: opacity;
  transition-timing-function: ease-out;
  opacity: 0;
}

.appear-enter.appear-enter-active {
  opacity: 1;
}

.appear-leave {
  opacity: 0;
}